<h1>Bonjour et Bienvenue sur <span>Meet Your Mates</span></h1>
<h2>Le site pour organiser vos sessions de jeu avec vos amis</h2>

<h4>Présentation</h4>
<p>Organiser une partie multi pose souvent le problème de se coordonner avec ses amis. Parfois vous souhaitez proposer une session sur un jeu mais il est compliqué de trouver d'autres joueurs.</p>
<p><strong>Meet Your mates</strong> apporte une solution pour vous permettre de planifier vos sessions de jeu !!!</p>
<!--todo ajouter une capture du site-->
<img src="" alt="exemple d'une fonctionnalité du site" height="200" width="200">

<h4>Rejoignez nous !</h4>
<p>Pour commencer à créer ou rejoindre des sessions, cliquez sur le bouton ci-dessous<p>
<p class="warning"><fa-icon [icon]="exclamation"></fa-icon> Vous devez posséder un compte Discord pour vous identifier <fa-icon [icon]="exclamation"></fa-icon></p>


<button class="basic1" (click)="login()">Rejoignez-nous <fa-icon [icon]="discord"></fa-icon></button>
