@import '../../../../style-custom/variables/variables';

.container {
  position: relative;
  top: $header-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$header-height});
}

nav {
  display: flex;
  min-height: $navbar-height;
  background: $header-bg-color;
  color: $font-accent;
  padding: 5px 15px;
  position: sticky;
  top: $header-height;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav ul li {
  padding: 0 2vw;
  list-style: none;
}

.content {
  flex: 1;
  background: $primary;
}

.footer {
  height: $footer-height;
  display: flex;
  background: $footer-bg-color;
  color: $font-accent;
}
