main {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-bottom ul {
  display: flex;
  justify-content: space-between;
}

.header-bottom li {
  list-style: none;
  display: flex;

}
