<header class="header">
  <div class="logo">
    <a [routerLink]="['']">
      <img src="assets/images/monters_cartoon.png" height="50" alt="logo of the site">
      <span>MEET YOUR MATES</span>
    </a>
  </div>
  <div>
    <div *ngIf="isAuthenticated else toLogin">
      <!--       todo : à implémenter avec les données du joueur-->
      Avatar
      Username
      <button class="basic1" (click)="logout()">
        <fa-icon [icon]="disconnect"></fa-icon>
      </button>
    </div>
    <ng-template #toLogin>
      <button class="basic1" (click)="login()">Login
        <fa-icon [icon]="discord"></fa-icon>
      </button>
    </ng-template>
  </div>
</header>
