@use '../../../style-custom/variables/variables' as var;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: var.$header-height;
  background: var.$header-bg-color;
  padding: 15px;
  color: var.$font-accent;
}

.logo {
  a {
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.2em;
  img {
    border-radius: 5px;
  }
}
