@use '../../../../style-custom/variables/variables' as var;

.header {
  display: flex;
  justify-content: space-between;
  height: var.$header-height;
  background: var.$header-bg-color;
  padding: 15px;
  color: var.$font-accent;
}
