// Global colors

$primary: black;
$accent: palevioletred;
$warn: red;

$header-bg-color: palevioletred;
$footer-bg-color: grey;

$font-primary: aquamarine;
$font-accent: black;

$button-main-color: #333333;
