@import './app/style-custom/buttons.scss';

html, body, ::after, ::before {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
