@import 'style-custom/html-elements/buttons';
@import 'style-custom/variables/variables';

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: $font-primary;
  height: 100vh;
}
