@import './app/style-custom/buttons.scss';

html, body, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  height: 100vh;
}
