@use '../../../style-custom/variables/variables' as var;

.container {
  position: relative;
  top: var.$header-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{var.$header-height});
}

nav {
  display: flex;
  min-height: var.$navbar-height;
  background: var.$header-bg-color;
  color: var.$font-accent;
  padding: 5px 15px;
  position: sticky;
  top: var.$header-height;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav ul li {
  padding: 0 2vw;
  list-style: none;
}

.content {
  flex: 1;
  background: var.$primary;
}

.footer {
  height: var.$footer-height;
  display: flex;
  background: var.$footer-bg-color;
  color: var.$font-accent;
}
